body {
    width: 100%;
    height: 100%;
    background-color: black;
    color: white;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    align-self: center;
    overscroll-behavior-y: contain;
}
h1 {
    color: #f0d9b5;
    display: inline;
}
#menuBar {
    position: absolute;
    left: 0;
    top: 0;
    padding: 12px;
    width: 100%;
    z-index: 99999;
}
#status span {
    display: flex;
    overflow: hidden;
    white-space: nowrap;
    margin: auto 0;
    animation:
        typing 0.5s steps(30, end);
}
@keyframes typing {
    from { width: 0 }
    to { width: 100% }
}
#board {
    max-width: 80vh;
    max-height: 80vh;
    width: 100%;
    height: 100%;
}
.loading {
    width: 100%;
    height: 100%;
    margin: auto;
    vertical-align: middle;
}
.white-1e1d7.highlight-move, .white-1e1d7.highlight2-9c5d2, .white-1e1d7.highlight1-32417 {
    box-shadow: none;
    background-color: #F7C163;
}
.black-3c85d.highlight-move, .black-3c85d.highlight2-9c5d2, .black-3c85d.highlight1-32417 {
    box-shadow: none;
    background-color: #D79536;
}
.highlight-check {
    background-color: red;
}
.white-1e1d7.highlight-square {
    background-color: #F77663;
}
.black-3c85d.highlight-square {
    background-color: #D74A36;
}
