body {
    width: 100%;
    height: 100%;
    background-color: black;
    color: white;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    align-self: center;
}
a, a:link, a:visited {
    color: inherit;
    text-decoration: none;
}
a:hover, a:active {
    color: #f0d9b5;
    text-decoration: underline;
}
span {
    color: lightgrey;
}
#infoBtn {
    position: absolute;
    left: 8px;
    top: 8px;
    width: 32px;
    height: 32px;
    opacity: 0.5;
}
#infoBtn:hover {
    opacity: 1;
}
#infoBar {
    position: absolute;
    left: 48px;
    top: 8px;
    width: calc(100% - 64px);
    display: none;
}
#loading {
    width: 200px;
    height: 200px;
}
#board {
    display: none;
    max-width: 80vh;
    max-height: 80vh;
    width: 100%;
    height: 100%;
}
.white-1e1d7.highlight-white {
    box-shadow: inset 0 0 3px 3px white;
    background: repeating-linear-gradient(
        45deg,
        #fff5d1,
        #fff5d1 25%,
        #f0d9b5 25%,
        #f0d9b5 50%
    );
}
.white-1e1d7.highlight-black {
    box-shadow: inset 0 0 3px 3px black;
    background: repeating-linear-gradient(
        45deg,
        #d3bd9a,
        #d3bd9a 25%,
        #f0d9b5 25%,
        #f0d9b5 50%
    );
}
.white-1e1d7.highlight-white.highlight-black {
    box-shadow: inset 0 0 3px 3px grey;
    background: repeating-linear-gradient(
        45deg,
        #fff5d1,
        #fff5d1 25%,
        #d3bd9a 25%,
        #d3bd9a 50%
    );
}
.black-3c85d.highlight-white {
    box-shadow: inset 0 0 3px 3px white;
    background: repeating-linear-gradient(
        45deg,
        #d1a27c,
        #d1a27c 25%,
        #b58863 25%,
        #b58863 50%
    );
}
.black-3c85d.highlight-black {
    box-shadow: inset 0 0 3px 3px black;
    background: repeating-linear-gradient(
        45deg,
        #996f4b,
        #996f4b 25%,
        #b58863 25%,
        #b58863 50%
    );
}
.black-3c85d.highlight-white.highlight-black {
    box-shadow: inset 0 0 3px 3px grey;
    background: repeating-linear-gradient(
        45deg,
        #d1a27c,
        #d1a27c 25%,
        #996f4b 25%,
        #996f4b 50%
    );
}
